* {
    box-sizing: border-box;
}
h1{
    color:white;
    text-align: center;
    font-size: 50px;
}


#calculator{
    width:45%;
    height:80%;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(17, 17, 16);
    padding: 10px;
    margin-top: 80px;

    min-width: 300px;
    min-height: 400px;

}

#display-container{
    
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    border: 2px solid lightgrey;

    font-size: 2.8rem;
    /* display: flex; */
    align-items: flex-end;
    justify-content: flex-end;

    min-height: 100px;

}

#display-container p {
    margin: 0.5rem;
    vertical-align: text-bottom;
    /* width:100%; */
    max-width:600px;
    overflow: scroll;
    color: wheat;
}
#buttons-container{
    height: 60%;
    width:100%;
    min-height: 300px;
    border: 1px solid grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button{
    width: 25%;
    height:20%;
    min-height: 60px;
    display: flex;
    border: 1px solid lightgray;  
    /* flex-grow: 1; */
    align-items:  center;
    justify-content: center;

    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
.button:hover {
    background-color: orange;
}
.red {
    background-color: rgb(230, 105, 105);
    color: white;
}
#button-zero{
    /* flex-grow: 2; */
    width:50%;
}

